body, .content {
    font-family: "Inter", sans-serif;
  }


/* CSS people page */


.img-people-container {
  width: 100%;
  height: auto;
  max-height: 200px;
}

img.img-people {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.links-people {
  :where(a) {
    --tw-text-opacity: 1;
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity));
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  }
}



/* CSS equipment page */

.img-equipment-container {
  width: 100%;
  height: auto;
  max-height: 200px;
}

img.img-equipment {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.links-equipment {
  :where(a) {
    --tw-text-opacity: 1;
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity));
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  }
}

/* CSS icons */

.icon {
  width: 2em;
  height: 2em;
  /* vertical-align: -.125em;  */
}

.icon-col:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.icon-col {
  position: relative;
  height: 32px;
  width: 32px;
  padding: 1rem;
}
/* Partly adapted from https://www.w3schools.com/css/css_tooltip.asp */
.icon-col .tooltip {
  visibility: hidden;
  min-width: 128px;
  top: 100%;
  left: 50%;
  margin-left: -80px;

  background-color: #00123f;
  color: #fafafa;
  text-align: center;
  padding: 12px;
  border-radius: 9px;
  display: block;

  position: absolute;
  z-index: 1;
}
.icon-col:hover .tooltip {
  visibility: visible;
}
