{{ define "main" }}
  <div class='hx-mx-auto'
  style="
  background-image: url('images/hero_2.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; ">
    
    <article class="hx-w-full  hx-py-4 hx-break-words  hx-justify-center ">
      <main class="hx-w-full  hx-mt-12 hx-mb-12  hx-py-4 md:hx-px-12">
        <h1 
          style="color: white;"
          class="hx-text-center hx-mt-12 hx-mb-12 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">
          <span style="background-color: black;">Research in 3D Perception</span>
        </h1>
      </main>
    </article>
  </div>
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        {{ if .Title }}<h1 class="hx-text-center hx-mt-2 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>{{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </main>
    </article>
  </div>
{{ end }}